<h1>😞</h1>
<p>I'm sad you won't be able to make it. Hopefully next year!</p>
<p>If you change your mind and decide to come, just text me at 210-771-8253. I can't guarantee that there will still be a spot open, but I'll see what I can do.</p>
