<div class="page-declined">
  <h1>😞 Sad!</h1>
  <p>
    If you change your mind, <%= link "text me", to: text_me_link("Hey Dennis, it looks like I'll be able to go to the Americamping trip after all. Is there still room for me?") %>.
    I can't guarantee that a spot will still be open, but I'll see what I can do.
  </p>
</div>
