<h1>Payment</h1>
<p>To finish reserving your spot, please send me $10 for the site, shirt, and breakfast burrito.</p>

<%= link("Venmo", to: {:venmo, "//paycharge?txn=pay&recipients=dnsbty&amount=10&note=🇺🇸🏕"}, class: "btn btn-primary btn-block") %>
<%= link("Square Cash", to: "https://cash.me/$dns/10", class: "btn btn-success btn-block") %>
<%= link("Apple Pay Cash", to: {:sms, "+12107718253"}, class: "btn btn-default btn-block") %>

<p class="small after-explanation">
  Once I've received your payment, I'll send you a confirmation that your spot is fully reserved.
</p>
<p class="small">
  If you decide later that you can't make it, let me know and I'll send you a refund.
</p>
